@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 100%;
  max-width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
}

h2 {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #bbb;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
}

.money.minus {
  color: #c0392b;
}

label {
  display: inline-block;
  margin: 10px 0;
}

input[type='text'],
input[type='number']{
  border: 1px solid #dedede;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  outline: none;
}

input[type='date'] {
  background-color: #9c88ff;
  padding: 10px;
  outline: none;
  display: block;
  border: none;
  font-family: 'Lato', sans-serif;
  border-radius: 2px;
  color: #ffffff;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  border-radius: 3px;
}

.btn {
  cursor: pointer;
  background-color: #9c88ff;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 10px 0 30px;
  padding: 10px;
  width: 100%;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
  height: 130px;
  overflow-y: scroll;
  position: relative;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  padding: 2px 10px;
  margin: 10px 0;
  transition: .8s;
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.transactions li .date {
 font-size: 12px;
 text-align: end;
 padding: 5px 0;
 grid-column-start: 2;
}

.transactions li .title {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  font-size: 18px;
}

.transactions li .preco {
  grid-column-start: 2;
  grid-row-start: 2;
  text-align: end;
 }

.transactions li .infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transactions li:hover {
  padding-left: 30px;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding-top: 2px;
  padding-left: 30px;
  position: absolute;
  top: 70%;
  left: -100px;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: all .5s ease;
  border-radius: 0 3px 3px 0;
  box-shadow: var(--box-shadow);
}

.delete-btn::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f55a";
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding-top: 2px;
  padding-left: 30px;
  position: absolute;
  top: 20%;
  left: -100px;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: all .5s ease;
  border-radius: 0 3px 3px 0;
  background: #8979da;
  box-shadow: var(--box-shadow);
}

.edit-btn::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f044";
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transactions li:hover .delete-btn {
  opacity: 1;
  left: 23px;
}

.transactions li:hover .edit-btn {
  opacity: 1;
  left: 23px;
}

#btn-add-transaction {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}


#btn-add-transaction::before {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900;
  content: "\f51e";
  font-size: 20px;
  display: flex;
  margin-right: 15px;
}

.popup-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  background: rgba(238, 242, 247, .8);
  justify-content: center;
}

.popup {
  width: 100%;
  padding: 0 15px;
  max-width: 350px;
  position: relative;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
}

.popup-close {
  border: 0;
  top: 10px;
  right: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding: 2px 5px;
  line-height: 20px;
  border-radius: 3px;
  position: absolute;
  background-color: #e74c3c;
  transition: opacity 0.3s ease;
}

.transaction-type {
  margin-bottom: 0;
  margin-top: 20px;
}

.label {
  display : block;
  width: 100%;
  max-width: 350px;
  cursor: pointer;
  
}

.label:first-child {
  color: #2ecc71;
}

.label:last-child {
  color: #c0392b;
}

.label input {
  visibility: hidden; /*Makes input not-clickable*/
  position: absolute; /* Remove input from document flow */

}

.label div {
  padding: 20px;
  margin: 0 0 5px 0;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
}

.label > input:checked + div{ 
  box-shadow: var(--box-shadow)
}

.label > input:checked + div > h4{ 
  transform: scale(1.15);
  transition: .8s;
}

.type-transaction-container {
  display: flex;
}

.d-none {
  display: none;
}